---
import ShoppingCartIcon from "../icons/shopping-cart-icon.astro";
import clsx from "clsx";

type Props = {
  class?: string;
  quantity?: number | undefined;
};
---

<div
  class="relative flex h-11 w-11 items-center justify-center rounded-md border border-neutral-200 text-black transition-colors dark:border-neutral-700 dark:text-white"
>
  <ShoppingCartIcon
    class={clsx(
      "h-4 transition-all ease-in-out hover:scale-110",
      Astro.props.class
    )}
  />

  {
    Astro.props.quantity ? (
      <div class="absolute right-0 top-0 -mr-2 -mt-2 h-4 w-4 rounded bg-blue-600 text-[11px] font-medium text-white">
        {Astro.props.quantity}
      </div>
    ) : null
  }
</div>
