---
import Carousel from "../components/carousel.astro";
import ThreeItemGrid from "../components/grid/three-items.astro";
import Footer from "../components/layout/footer.astro";
import RootLayout from "../components/layout/layout.astro";
---

<RootLayout>
  <h1>Hello</h1>
  <ThreeItemGrid />
  <Carousel />
  <Footer />
</RootLayout>
