---
import Grid from "../components/grid/index.astro";
import Layout from "../components/layout/layout.astro";
import ProductGridItems from "../components/layout/product-grid-items.astro";
import { defaultSort, sorting } from "../lib/constants";
import { getProducts } from "../lib/wix";
import SearchLayout from "../components/layout/search/layout.astro";

const searchParams = Object.fromEntries(Astro.url.searchParams.entries());
const { sort, q: searchValue } = searchParams;
const { sortKey, reverse } =
  sorting.find((item) => item.slug === sort) || defaultSort;

const products = await getProducts({
  sortKey,
  reverse,
  query: searchValue ?? "",
});
const resultsText = products.length > 1 ? "results" : "result";
---

<Layout>
  <SearchLayout>
    {
      searchValue ? (
        <p class="mb-4">
          {products.length === 0
            ? "There are no products that match "
            : `Showing ${products.length} ${resultsText} for `}
          <span class="font-bold">&quot;{searchValue}&quot;</span>
        </p>
      ) : null
    }
    {
      products.length > 0 ? (
        <Grid class="grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
          <ProductGridItems products={products} />
        </Grid>
      ) : null
    }
  </SearchLayout>
</Layout>
