---
import clsx from "clsx";
import Price from "./price.astro";

type Props = {
  title: string;
  amount: string;
  currencyCode: string;
  position?: "bottom" | "center" | undefined;
};

const position = Astro.props.position || "bottom";
---

<div
  class={clsx(
    "absolute bottom-0 left-0 flex w-full px-4 pb-4 @container/label",
    {
      "lg:px-20 lg:pb-[35%]": position === "center",
    }
  )}
>
  <div
    class="flex items-center rounded-full border bg-white/70 p-1 text-xs font-semibold text-black backdrop-blur-md dark:border-neutral-800 dark:bg-black/70 dark:text-white"
  >
    <h3 class="mr-4 line-clamp-2 flex-grow pl-2 leading-none tracking-tight">
      {Astro.props.title}
    </h3>
    <Price
      class="flex-none rounded-full bg-blue-600 p-2 text-white"
      amount={Astro.props.amount}
      currencyCode={Astro.props.currencyCode}
      currencyCodeClass="hidden @[275px]/label:inline"
    />
  </div>
</div>
